@model IEnumerable<ProspectManager.Mvc.Models.TodoItems.TodoItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | 
    @Html.ActionLink("Hide Completed", "Index")
</p>

@Html.Partial("_List")