@model IEnumerable<ProspectManager.Mvc.Models.TodoItems.TodoItem>

@{
    ViewBag.Title = "Index";
}

<h2>MyTodo Items</h2>

<p>
    @Html.ActionLink("Create New", "Create") | 
    @Html.ActionLink("Show All", "All")
</p>

@Html.Partial("_List")